@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="fa fa-list"></i>Index</h1>
<div id="div1"></div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="ShowDepartments" asp-controller="Departments">Show Lists</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depart.DepartmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="ShowEmployee" asp-route-id="@item.EmployeeId">Show</a> |
                <a href="#" onclick="GetEmployeeDetails(@item.EmployeeId)">Show Emp</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section MySection{
    <script>
        @*Javascript with Jquery, AJAX *@
            function GetEmployeeDetails(id) {
                event.preventDefault();
                console.log(id);
                $.ajax({
                    url: '/Employees/ShowEmployeeDetails/' + id,
                    // data: {"id" : id},
                    success: function (result) {
                        $("#div1").html(result)
                        console.log(result);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
    </script>
}

