@model DepartmentPaginationViewModel
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("DepartmentName")
            </th>
            <th>
                @Html.DisplayName("DepartmentManager")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmnetManager)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @for(int i=1; i<=Model.TotalPages; i++)
    {
        <button class="page-link" onclick="loadPage(@i)">
            @i
        </button>
    }
</div>