@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}
@{
    if (TempData.ContainsKey("MessageAdd"))
    {
        <div class="toast show" role="alert" aria-live="polite" aria-atomic="true" style="position: absolute; top: 10%; right: 2%;">
            <div class="toast-header">
                <strong class="me-auto" style="color:green;">Done</strong>
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                @TempData["MessageAdd"]
            </div>
        </div>

    }
    if (TempData.ContainsKey("MessageDelete"))
    {
        <div class="toast show" role="alert" aria-live="polite" aria-atomic="true" style="position: absolute; top: 10%; right: 2%;">
            <div class="toast-header">
                <strong class="me-auto" style="color:red;">Done</strong>
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                @TempData["MessageDelete"]
            </div>
        </div>

    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmnetManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmnetManager)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    // Close the toast after 5 seconds
    setTimeout(function () {
        $('.toast').toast('hide');
    }, 5000);
</script>
