@model IEnumerable<Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmnetManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmnetManager)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<div id="departmentListContainer">

</div>

@section Mysection{
    <script>
        $(document).ready(function () {
            loadPage(1);
        });

        function loadPage(page) {
            $.ajax({
                url: '/Departments/GetDepartments',
                type: 'GET',
                data: { pageNumber: page },
                success: function (result) {
                    $('#departmentListContainer').html(result);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}

